### Turtle Graphics

In [ ]:
# Design Spiral Star
import turtle as t
a1 = t.Turtle()
a1.pencolor('blue')
for i in range(50):
    a1.forward(i * 10)
    a1.left(144)
t.done()

In [ ]:
# Design Sprial Square
import turtle as t
a1 = t.Turtle()
a1.pencolor('red')
for i in range(200):
    a1.forward(i)
    a1.left(91)
a1.done()

In [ ]:
# Design Hexagon
from turtle import *
pencolor('blue')
colors = ['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100 + 1)
    forward(i)
    left(59)

In [ ]:
# Design Rectangle
# Generate circle

In [ ]:
# Design Circle
from turtle import *
pensize(25)
pencolor('orange')
fillcolor('blue')
begin_fill()
circle(100)
end_fill()

In [ ]:
# Design Tangent Circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(15):
    circle(10*i)

In [ ]:
# Design Spiral Circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,45)

In [ ]:
# Design Circle
from turtle import *
pensize(3)
colors = ['blue','green','red','yellow','orange','purple']
for i in range(30):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
# Design Olympics Logo
from turtle import *
pensize(6) # Set the pensize to 6 pixels
r1 = ["blue","black","red"]
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2 = ["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# Design Audi Logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
# Design Car blue Print
from turtle import *
# Code for generating the Rectangle
bgcolor('green')
color('#2B28F6')
fillcolor('#2B28F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

#Code for drawing and roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

#code for drawing two tyres
penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python
- Trnasformation Code into Beautiful, Idiomatic Python
- Replaces traditional Index manipulation with Python Code looping idioms

In [5]:
# Looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
    
print()
#Pythonic-way
for i in range(6):
    print(i ** 2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [8]:
# Looping over the collection(List)
li = [1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
#Pythonic-way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [10]:
# Looping from backwards
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#Pythonic-way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [14]:
# Looping Over the Collection with Index
li = [1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
#Pythonic-way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [17]:
# Looping over two collections
li  = [1,2,3,4,5]
a   = [1,2,3,4,5,6,8]
n = min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])

print()
#Pythonic-Way
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [21]:
# Looping in sorted order
# Pythonic-way
li = [8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')

print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1

In [26]:
#Dictionary 
d = {'Name':'Gitam','EmailID':'gitam@gitam.edu','Address':'Vizag'}
for k in d:
    print(k,end=' ')
print()

EmailID Address Name

In [28]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [29]:
print(d)

{'EmailID': 'gitam@gitam.edu', 'Name': 'Gitam'}

In [30]:
for k in d.values():
    print(k,end=' ')

gitam@gitam.edu Gitam

### List Comprehensions

In [34]:
#Traditional Approch
li = []
for i in range(10):
    a = i ** 2
    li.append(a)

print(sum(li))
print()
#Pythonic-way
print(sum(i**2 for i in range(10)))

285

285

In [35]:
li = []
for i in range(10):
    li.append(i ** 2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
com_list = [i ** 2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
for i in li:
    if i % 2 == 0:
        print(i,end=' ')

0 4 16 36 64

In [39]:
com_list = [i ** 2 for i in range(10) if i % 2 == 0]
com_list

[0, 4, 16, 36, 64]

# Lambda Functions
- Anonymous functions means that a function is without a name.
- Any lambda function on Python will be defined with lambda
- Syntax : lambda arg : expression

In [1]:
def square(n):
    return n*n
square(10)

100

In [3]:
a = lambda x : x * x
print(a(10))

100

### Use of lambda with filter

In [5]:
def filterList(li):
    a = []
    for i in li:
        if i % 2 == 0:
            a.append(i)            
    return a
li = [1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [9]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x : (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### Lambda with map()
- map() function in python takes in a function and list as argument.

In [10]:
#Functional Approch
def squareList(li):
    a= []
    for i in li:
        a.append(i*2)
    return a
li = [1,2,3,4,5,6,7,8]
squareList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [12]:
# lambda with map()
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### Lambda with reduce()

In [13]:
def sumList(li):
    s = 0
    for i in li:
        s += i
    return s
li = [1,2,3,4,5,6,7,8]
sumList(li)

36

In [15]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package
### Pandas, Numpy and Matplotlib

### Pandas

#### Use Cases
- Data Cleaning
- Data Transformation
- Data Analysis

#### Notations
- Series 
    - A series is a one-dimensional object that can hold int,float and string
- DataFrames
    - A Dataframe is a two dimensional object

In [27]:
import pandas as pd
internal1 = {'s1':35,'s2':35,'s3':35}
internal2 = {'s1':55,'s2':65,'s3':75}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)
print(type(internal1))

s1    35
s2    35
s3    35
dtype: int64
s1    55
s2    65
s3    75
dtype: int64
<class 'pandas.core.series.Series'>

In [28]:
final = {'Internal1':internal1,'Internal2':internal2}
final = pd.DataFrame(final)
print(final)
print(type(final))

    Internal1  Internal2
s1         35         55
s2         35         65
s3         35         75
<class 'pandas.core.frame.DataFrame'>

In [29]:
final.columns # Returns the names of Column

Index(['Internal1', 'Internal2'], dtype='object')

In [30]:
final.values # Returns all row values in 2 Dimensional array

array([[35, 55],
       [35, 65],
       [35, 75]], dtype=int64)

In [32]:
final.values[1] # 1 represents the row index

array([35, 65], dtype=int64)

In [33]:
final.values[2][0] = 350 # Update the DataFrame values

In [34]:
final.values

array([[ 35,  55],
       [ 35,  65],
       [350,  75]], dtype=int64)

In [35]:
for row in final.values:
    print('Internal1 - ',row[0],'Internal2  - ',row[1])

Internal1 -  35 Internal2  -  55
Internal1 -  35 Internal2  -  65
Internal1 -  350 Internal2  -  75

In [36]:
final.loc['s4'] = [20,18] # Insert the new records in the DataFrame
final

    Internal1  Internal2
s1         35         55
s2         35         65
s3        350         75
s4         20         18

In [38]:
final.values[2] = [155,255]
final

    Internal1  Internal2
s1         35         55
s2         35         65
s3        155        255
s4         20         18

In [41]:
pwd

'C:\\Users\\hp\\Documents'

### Reading the CSV
- To read the csv file from the local computer use read_csv()

In [48]:
filePath = 'DataFiles/Income.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [50]:
# Extract income of all states in year 2013
# Alabama : 41381
# ...............
for row in df.values:
    print(row[1], ' : ',row[-4])

Alabama  :  40933
Alaska  :  57848
Arizona  :  46896
Arkansas  :  38587
California  :  54283

In [46]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
  57528]]

In [52]:
# Average income of California
def avgofState():
    s = 0
    for i in range(2,11):
        s += df.values[4][i]
    return s // len(df.values[4][2:])
avgofState()

55350

In [53]:
# Function which only displays the column names in the list
# GEOID State   2005   2006   2007   2008   2009   2010   2011 2012 2013
def printDataFrameColumns(df):
    li = []
    columns = df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [55]:
filePath = 'DataFiles/RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df = readCsvData(filePath)

In [56]:
#To know the len of rows and Column -- shape
df.shape

(145289, 8)

In [57]:
# To know only first few rows -- head()
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [58]:
# To know the last records -- tail
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [59]:
# Convert all column names into list
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [60]:
# describe() min,max,couint,mean and etc
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [61]:
df.max() # All the column max() value

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [65]:
df['Lteam'].max() # One column value max value

1464

In [64]:
df['Lteam'].min() # One column value min value

1101

In [66]:
df['Lteam'].sum()

186386037

In [67]:
# Number of games in each season
df['Season'].value_counts()

2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: Season, dtype: int64

In [68]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

In [69]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [70]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

In [71]:
df.sort_values('Lscore').tail()

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
77873    2003     110   1383     142   1254     140    H      2
24970    1991      68   1258     186   1109     140    H      0
22074    1990      96   1261     148   1258     141    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0

In [74]:
# Filter the Rows based on the condition
df[df['Wscore'] > 170]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0

In [77]:
df[(df['Wscore'] > 170) & (df['Daynum']>60)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
24970    1991      68   1258     186   1109     140    H      0